
<ion-tabs>

  <div class="tab-container">
    <ion-label id="title">Writers Lab</ion-label>
    <ion-tab-bar slot="left">

      <ion-tab-button tab="nuevo">
        <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
        <ion-label id="tap-name">Crear</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tuslibros">
        <ion-icon aria-hidden="true" name="library-outline"></ion-icon>
        <ion-label id="tap-name">Tus libros</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="configuracion">
        <ion-icon aria-hidden="true" name="build-outline"></ion-icon>
        <ion-label id="tap-name" >Configuracion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>
