
*{margin: 0;}

@media (min-width: 720px) {
    
    ion-icon{
        position: absolute;
        background-color: white;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
    ion-img{
        
        width: 150px;
        height: 170px;
    }
    ion-card-title{
       
        font-size: small;
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
    ion-card{
        width: 150px;
        height: 200px;
        float: left;
        text-align: center;
        margin: 4px;
        display: block;
        
    }
    div{
        
        position: absolute;
        left: 240px;
        right: 20px;
        height: 90%;
        top: 40px;
        overflow-y: scroll;   
       
        //overflow:hidden   
    }
}

@media (max-width: 720px) {
    ion-img{
        
        width: 100px;
        height: 130px;
    }
    ion-card-title{
       
        font-size:xx-small;
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
    ion-card{
        width: 100px;
        height: 140px;
        float: left;
        text-align: center;
        margin: 4px;
        display: block;
        
    }

    div{
        
        position: absolute;
        left: 30px;
        right: 10px;
        height: 80%;
        top: 10px;
        overflow-y: scroll;   
       
        //overflow:hidden   
    }

}