
*{margin: 0;}

@media (min-width: 720px) {
    ion-card{
        width: 90px;
        height: 120px;
        float: left;
        text-align: center;
        margin: 4px;
        background-color: aqua;
        display: block;
        
    }
    div{
        
        position: absolute;
        left: 240px;
        right: 20px;
        height: 90%;
        top: 40px;
        overflow-y: scroll;   
       
        //overflow:hidden   
    }
}

@media (max-width: 720px) {

    ion-card{
        width: 70px;
        height: 100px;
        float: left;
        text-align: center;
        margin: 4px;
        background-color: aqua;
        display: block;
        
    }

    div{
        
        position: absolute;
        left: 30px;
        right: 10px;
        height: 80%;
        top: 10px;
        overflow-y: scroll;   
       
        //overflow:hidden   
    }

}